<div class="toolbar">
  <h1 id="pageTitle">CTR Open Data Demo</h1>
  <%= link_to "", "#", :id => "backButton", :class => "button" %>
</div>

<div id="Welcome" class="panel" selected="true" title="Welcome">
  <ul>
    <li class="ctr-logo">
      <%=image_tag "ctr_logo.jpg", :alt => "CTR Open Data Beta"%>
    </li>
    <li>
      <%=link_to "View undisbursed loans", "#MapContainer", :id => "view_undisbursed_loans"%>
    </li>
    <li>
      <%=link_to "View disbursed loans", "#MapContainer", :id => "view_disbursed_loans"%>
    </li>
  </ul>
  <h2>Note -- the data in the app is provisional and often inaccurate. It does 
  not represent actual World Bank data. Please do not reuse it.  For questions, 
  please contact <%= mail_to "smoscoso@worldbank.org"%></h2>
</div>

<div id="MapContainer" title="Map">
  <div id="map">
  </div>
  
  <div id="Navigation">
    <table>
      <tr>
        <td align="center">
          <div id="undisbursed_percent" class="option">
            <div class="description">Undisbursed</div>
            <div class="symbol">%</div>
          </div>
        </td>
        <td align="center">
          <div id="undisbursed_amount" class="option">
            <div class="description">Undisbursed</div>
            <div class="symbol">$bn</div>
          </div>
        </td>
        <td align="center">
          <div id="disbursed_percent" class="option">
            <div class="description">Disbursed</div>
            <div class="symbol">%</div>
          </div>
        </td>
        <td align="center">
          <div id="disbursed_amount" class="option">
            <div class="description">Disbursed</div>
            <div class="symbol">$bn</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<form id="Track" class="dialog" action="">
    <fieldset>
        <h1>Sorry, this feature is not available yet</h1>
        <%=link_to "Ok", "", :type => "cancel", :class => "grayButton"%>
    </fieldset>
</form>

<form id="Report" class="dialog" action="">
    <fieldset>
        <h1>Report this project.</h1>
        <div><%=link_to "Upload photo", "javascript:alert(\"Sorry, this feature is not available\");", :class => "whiteButton"%></div>
        <div><%=link_to "Report fraud", "javascript:alert(\"Sorry, this feature is not available\");", :class => "whiteButton"%></div>
        <div><%=link_to "Rate this project", "javascript:alert(\"Sorry, this feature is not available\");", :class => "whiteButton"%></div>
        <div><%=link_to "General comment", "javascript:alert(\"Sorry, this feature is not available\");", :class => "whiteButton"%></div>
        <div><%=link_to "Cancel", "", :type => "cancel", :class => "grayButton"%></div>
    </fieldset>
</form>
