<div id="@loan-<%=@loan.id%>" title="<%=@loan.project%>" class="panel">
  <h2><%=@loan.beneficiary%></h2>
  
  <fieldset>
    <div class="row">
      <label>Status</label>
      <span><%=@loan.status%></span>
    </div>
    <div class="row">
      <label>Approved</label>
      <span><%=format_for_currency(@loan.approved_amount, @loan.currency_of_commitment)%></span>
    </div>
    <div class="row">
      <label>Disbursed</label>
      <span><%=format_for_currency(@loan.disbursed_amount, @loan.currency_of_commitment)%></span>
    </div>
    <% if @loan.last_disburse_date %>
      <div class="row">
        <label>Last</label>
        <span><%=format_for_date(@loan.last_disburse_date)%></span>
      </div>
    <% end %>
  </fieldset>
  
  <%=link_to "Track this project", "#Track", :class => "whiteButton"%>
  <p><%=link_to "Report this project", "#Report", :class => "whiteButton"%></p>
</div>
