<div id="country-info-summary-container">
  <div class="country-info-summary">
    <h1><%=@country.name%></h1>
    <div class="list">
      <ul class="amount-headers">
        <li>Disbursed:</li>
        <li>Remaining:</li>
      </ul>
      <ul class="amounts">
        <li><%=format_for_currency(@country.disbursed_amount, @country.currency)%></li>
        <li><%=format_for_currency(@country.undisbursed_amount, @country.currency)%></li>
      </ul>
      <div class="clear"/>
    </div>
    <% if !@country.example_projects.empty? %>
      <h2>Example projects</h2>
      <ul class="example_projects">
        <% @country.example_projects.each do |example_project| %>
          <li><%=example_project.name%></li>
        <% end %>
      </ul>
      <%= link_to "More...", country_path(@country) %>
    <% end %>
  </div>
</div>
