<!DOCTYPE html>
<html>
<head>
  <title>WorldBankLoans</title>
  <%= stylesheet_link_tag 'world-bank-loans', :cache => false %>
  <%= stylesheet_link_tag 'mobile', :cache => false %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= yield %>

</body>
</html>
