<!DOCTYPE html>
<html>
<head>
  <title>World Bank Loans</title>
  <%= stylesheet_link_tag 'world-bank-loans', :cache => false %>
  <%= stylesheet_link_tag 'mobile', :cache => false %>
  <%= stylesheet_link_tag 'iui', :cache => false %>
  <%= javascript_include_tag :defaults, "http://maps.google.com/maps/api/js?sensor=true", "map", "label", "country", "country_info", "/countries" %>
  <script type="application/x-javascript" src="<%=javascript_path("iui")%>"></script>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
  <meta name="apple-touch-fullscreen" content="YES" />
</head>
<body>

<%= yield %>

</body>
</html>
