<ul id="<%=@country.id%>" title="<%= @country.name %>" class="country">
  <li class="row">
    <label>Total Commitment</label>
    <span><%=format_for_currency(@country.approved_amount, @country.currency)%></span>
  </li>
  <li class="row">
    <label>Total Disbursed</label>
    <span><%=format_for_currency(@country.disbursed_amount, @country.currency)%></span>
  </li>
  <li class="row">
    <label>Disbursing Projects</label>
    <span><%=@country.projects.size%></span>
  </li>
  <li class="group">List of Disbursing (Active) Projects</li>
  <%= yield %>
</ul>
